body {
    background-image: url("../Assets/Images/close-up-of-wooden-plank-326311.jpg");
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    font-family: Merriweather;
    
}

a.navbar-brand {
    margin-left: 15px;
    font-size: 24px;
}


.container {
    background-color: #686868;
    opacity: 0.9;
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 10px;
    margin-bottom: 40%;
    padding: 20px;
    border: 1px solid black;
    line-height: 200%;
    
    
   
}

.img-thumbnail {
    padding: 0px;
    border: 0px solid #686868 ;
    height: 400px;
    width: 250px;
    
    

    
   
}

p {
    font-size: 16px;
}

footer {
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 5px solid grey ;
    color: white;
}

/*Query set for iPhone 6/7/8*/
@media (min-width: 375px) {
  .container {
    width: 95%;
     
  }

  .img-thumbnail {
      height: 300px;
      width: 200px;
  }

  p {
      margin-top: 20px;
      font-size: 18px;
  }

}

@media (min-width: 640px) {
    .container {
        margin-left: 50px;
    }

    a.navbar-brand {
        margin-left: 45px;
        font-size: 24px;
    }
    
}

@media (min-width: 768px) {
    .container {
        margin-left: 25px;
        margin-bottom: 50%;
    }

    a.navbar-brand {
        margin-left: 15px;
        font-size: 24px;
    }

    .img-thumbnail {
        margin-top: 10%;
        
        
    }
 
}
    
    
   
    









  
   
